{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<div class="wrap"> 
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" alt=""  title="logo"/></a>
		</div>
		<div class="nav-right">
			<ul class="nav">
				<li class="active"><a href="{% url 'dashboard' %}">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
                <li><a href="{% url 'cart' %}">Cart{% if cart %} ({{ cart|length }}) {% endif %}</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

<div class="content">

    {% if cart %}
        <div class="rsidebar">
            <div class="sidebar">
                <h2>Cart</h2>
                <div class="table">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th></th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </thead>
    
                        <tbody>
                            {% for item in cart %}
                                <tr>
                                    <td>
                                        <figure class="image is-64x64">
                                            <img src="{{ item.product.get_thumbnail }}">
                                        </figure>
                                    </td>
                                    <td>
                                        <a href="{% url 'product' item.product.category.slug item.product.slug %}">{{ item.product.title }}</a>
                                    </td>
                                    <td>
                                        {{ item.quantity }}
    
                                        <a href="?change_quantity={{ item.id }}&quantity=-1">-</a>
                                        <a href="?change_quantity={{ item.id }}&quantity=1">+</a>
                                    </td>
                                    <td>Kshs {{ item.total_price }}</td>
                                    <td><a href="?remove_from_cart={{ item.id }}" class="delete">Remove</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
    
                        <tfoot>
                            <tr>
                                <td></td>
                                <td><strong>Total cost</strong></td>
                                <td><strong>{{ cart|length}}</strong></td>
                                <td colspan="2"><strong>Kshs {{ cart.get_total_cost }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <h2 class="subtitle">Contact information</h2>

        <form method="post" action="." id="payment-form">
            {% csrf_token %}    

            {% if form.non_field_errors %}
                <div class="notification is-danger">
                    {{ form.non_field_errors}}
                </div>
            {% endif %}

            {% if form.errors %}
                <div class="notification is-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li><strong>{{ field.label }}: </strong>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <label>First name</label>

                        <div class="control">
                            <input class="input" type="text" name="first_name">
                        </div>
                    </div>

                    <div class="field">
                        <label>Last name</label>

                        <div class="control">
                            <input class="input" type="text" name="last_name">
                        </div>
                    </div>

                    <div class="field">
                        <label>E-mail</label>

                        <div class="control">
                            <input class="input" type="email" name="email">
                        </div>
                    </div>

                    <div class="field">
                        <label>Phone</label>

                        <div class="control">
                            <input class="input" type="text" name="phone">
                        </div>
                    </div>
                </div>

                <div class="column is-6">
                    <div class="field">
                        <label>Address</label>

                        <div class="control">
                            <input class="input" type="text" name="address">
                        </div>
                    </div>

                    <div class="field">
                        <label>Place</label>

                        <div class="control">
                            <input class="input" type="text" name="place">
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="subtitle">Payment information</h2>

            <div id="card-element">
                <!-- A Stripe Element will be inserted here -->
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            <div class="field">
                <div class="control">
                    <button class="button is-dark mt-4 is-uppercase">Checkout</button>
                </div>
            </div>
        </form>
    {% else %}
        <p>You don't have any products in your cart!</p>
    {% endif %}
<div class="footer1">
		<p class="w3-link">© VBizz</p>
	</div>
</div>
{% endblock %}

{% block scripts %}

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe('{{ stripe_pub_key }}');
    var elements = stripe.elements();

    var card = elements.create('card');

    card.mount('#card-element');

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripe_token');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        form.submit();
    }
</script>

{% endblock %}