{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<div class="wrap"> 
	<div class="header">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" alt=""  title="logo"/></a>
		</div>
		<div class="nav-right">
			<ul class="nav">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="{% url 'cart' %}">Cart{% if cart %} ({{ cart|length }}) {% endif %}</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
<div class="menu-bg">
	<ul class="menu">
		{% for category in menu_categories %}
			<li><a href="{% url 'category' category.slug %}">{{category.title}}</a></li>
		{% endfor %}
	</ul> 
	<div class="search">
		<form>
	    	<input type="text" value="">
	    	<input type="submit" value="">
	    </form>
	</div>
	<div class="clear"></div>
</div>
<div class="content">
	<div class="section group">
		<div class="cont span_2_of_3">
			<div class="single">
		      <h2><a href="{% url 'dashboard' %}">Home</a></h2>
				<div class="grid-img1">
                    {% if product.image %}
					<a href="images/pic4.jpg"><img src="{{product.image.url}}"></a> 
                    {% endif %}
				</div>
				<div class="para">
					<h4>{{product.title}}</h4>
				<div class="cart-b">
					<button class="left rs">Kshs {{product.price}}</button>
				    <div class="btn right">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="control">
                                <input type="number" name="quantity" value="1" class="input" min="1">
                            </div>
							<button>Add to CART</button>
						</div>
                        </form>
				    <div class="clear"></div>
				 </div>
				 <h5>{{product.vendor.name}}</h5>
			   	<p>{{product.description}}</p>
                {% if messages %}
                   {% for message in messages %}
                       <div>{{message}}</div>
                   {% endfor %}
                {% endif %}
			   	</div>
			   <div class="clear"></div>	
		   </div>
	    <div class="div2 single-1">
            {% if similar_products %}
                {% for product in similar_products %}
                    {% include 'product/parts/list_item.html' %}
                {% endfor %}
            {% endif %}
           <div class="sing-pic">		
        	 <img src="images/pic4.jpg" alt=""/>
		   </div>
		   <div class="sing-pic">
             <img src="images/pic5.jpg" alt="" />
		   </div>
		   <div class="sing-pic">
            <img src="images/pic6.jpg" alt="" />
		   </div>
		   <div class="sing-pic">
            <img src="images/pic7.jpg" alt=""/>
		   </div>		 		   
          <div class="clear"></div>		   
   		</div>
	</div>
	<div class="rsidebar span_1_of_3">
		<div class="sidebar">
			<h2>Cart</h2>
			{%if cart %}
				{% for item in cart %}
			<div class="clear"></div>
			<p class="left">{{ item.product.title }}</p>
			<button class="right">Kshs {{ item.total_price }}</button>
				{% endfor %}
			<div class="clear"></div>
			<p class="left">Total</p>
			<button class="right">Kshs {{ cart.get_total_cost }}</button>
			{% else %}
			<p class="left">No Products</p>
			<button class="right">-</button>
			{% endif %}
		</div>
		<div class="clear"></div>
		<div class="sidebar">
	      <h2>Categories</h2>
	      <ul class="nav1">
			{% for category in menu_categories %}
				<li><a href="{% url 'category' category.slug %}">{{category.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="clear"></div>
		<div class="sidebar">
			<h2>Top Sellers</h2>
			{% for vendor in vendors %}
			<div class="listview_1_of_2 images_1_of_2">
				<div class="listimg listimg_2_of_1">
					<img src="images/pic4.jpg" alt=""/>
				</div>
				<div class="text list_2_of_1">
					<p>{{vendor.name}}</p>
				 </div>
			</div>
			{% endfor %}
		</div>
   </div>	
</div>
<div class="footer1">
		<p class="w3-link">© VBizz</p>
	</div>
</div>
{% endblock %}










<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if product.image %}
        <img src="{{product.image.url}}" alt="">
    {% endif %}
    <h1>{{product.title}}, ${{product.price}}</h1>
    <p>{{product.vendor.name}}</p>
    <p>{{product.description}}</p>

    <hr>

    {% if messages %}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        <div>
            <div class="control">
                <input type="number" name="quantity" value="1" class="input" min="1">
            </div>
            <div class="control">
                <button>Add to Cart</button>
            </div>
        </div>
    </form>

    {% if similar_products %}
        <hr>
        <div>
            <h2>Similar Products</h2>
        </div>
        {% for product in similar_products %}
            {% include 'product/parts/list_item.html' %}
        {% endfor %}
    {% endif %}
</body>
</html> -->