{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<div class="wrap"> 
	<div class="header">
		<div class="logo">
			<h1>VBizz</h1>
		</div>
		<div class="nav-right">
			<ul class="nav">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Service</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="{% url 'cart' %}">Cart{% if cart %} ({{ cart|length }}) {% endif %}</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
<div class="menu-bg">
	<ul class="menu">
		{% for category in menu_categories %}
			<li><a href="{% url 'category' category.slug %}">{{category.title}}</a></li>
		{% endfor %}
	</ul> 
	<div class="search">
	    <form action="{% url 'search' %}" method="get">
	    	<input type="text" value="" placeholder="Search..." name="query">
	    	<input type="submit" value="">
	    </form>
	</div>
	<div class="clear"></div>
</div>
<div class="flexslider">
   	<div class="flex-viewport" style="overflow: hidden; position: relative;">
   		<ul class="slides" style="width: 100%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-5032px, 0, 0);">
			<li class="" style="width:100%; float: left; display: block;">
    	    	<img src="{% static 'buyer/images/slider1.jpg' %}" alt=""/>
    		</li>
       		<li style="width: 100%; float: left; display: block;" class="">
    	    	<img src="{% static 'buyer/images/slider2.jpg' %}" alt=""/>
    		</li>
    		<li class="" style="width:100%; float: left; display: block;">
    	    	<img src="{% static 'buyer/images/slider3.jpg' %}" alt=""/>
    		</li>
		</ul>
	</div>
</div>
<div class="content">
<div class="section group">
	{% for product in featured_products %}
	<div class="col_1_of_3 span_1_of_3">
		<div class="grid-imgs">
			<a href="{% url 'product' product.category.slug product.slug %}"><img src="{{product.get_thumbnail}}" alt=""/></a> 
		</div>
		<h2>{{product.title}}. </h2>
		<p>{{product.description}}</p>
	</div>
	{% endfor %}
</div>
<div class="text-h">
	<h2>Newest products</h2>
</div>
<div class="section group">
	{% for product in newest_products %}
		<div class="col_1_of_5 span_1_of_5">
			<div class="grid-img">
					<a href="{% url 'product' product.category.slug product.slug %}"><img src="{{product.get_thumbnail}}" alt=""/></a> 
			</div>
			<p>{{product.title}}.</p>
			<button class="left">Kshs {{product.price}}</button>
			<div class="btn right"><a href="{% url 'product' product.category.slug product.slug %}">view</a></div>
		</div>
	{% endfor %}
</div>
</div>

<div class="footer1">
		<p class="w3-link">© VBizz Dashboard</p>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}


<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="get">
            <div class="control">
                <input type="text" placeholder="Search..." name="query">
            </div>
            <div class="control">
                <button>Search</button>
            </div>
        </form>
    </div>
    <div>
        {% for category in menu_categories %}
            <a href="{% url 'category' category.slug %}">{{category.title}}</a>
        {% endfor %}
    </div>
    <h1>Newest Products</h1>
    {% for product in newest_products %}
        <img src="{{product.get_thumbnail}}" alt="">
        {{product.title}}
        ${{product.price}}
        <hr>
        <a href="{% url 'product' product.category.slug product.slug %}">View</a>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'vendor_admin' %}">Vendor admin</a>
    {% else %}
        <a href="{% url 'vendor_registration' %}">Vendor Sign-Uo</a>
        <a href="{% url 'login' %}">Vendor Log in</a>
    {% endif %}
</body>
</html> -->