{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>VBizz Landing page</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Landing Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- animation css files -->
	<link rel="stylesheet" href="{% static 'css/animation-aos.css' %}">
	<link href="{% static 'css/aos.css' %}" rel='stylesheet prefetch' type="text/css" media="all" />
	<!-- //animation css files -->

	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header class="index-banner">
    <!-- nav -->
    <nav class="main-header">
      <div id="brand" data-aos="zoom-in-up">
        <div id="logo">
          <a href="#">
            <i class="fab fa-blackberry"></i>
          </a>
        </div>
        <div id="word-mark">
          <h1>
            <a href="#">VBizz</a>
          </h1>
        </div>
      </div>
      <div id="menu">
        <div id="menu-toggle">
          <div id="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
        <ul class="text-center text-capitalize nav-agile" data-aos="zoom-in-up">
          <li>
            <a href="#" class="active">home</a>
          </li>
          <li>
            <a href="#choose" class="scroll">Why Choose Us</a>
          </li>
          <li>
            <a href="#overview" class="scroll">Vendor</a>
          </li>
          <li>
            <a href="#pricing" class="scroll">Buyer</a>
          </li>
          <li>
            <a href="#faq" class="scroll">Admin</a>
          </li>
          <li>
            <button type="button" class="btn w3ls-btn" data-toggle="modal" aria-pressed="false">
				<a href="{% url 'login' %}">Vendor Log in</a>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- //nav -->
	<!-- banner -->
	<div class="banner layer" id="home">
		<div class="container">
			<div class="row banner-text">
				<div class="slider-info col-lg-8">
					<div class="agileinfo-logo mt-5">
						<h2 data-aos="fade-down">
							<span class="fab fa-blackberry text-center"></span> E-Marketplace -
						</h2>
					</div>
					<h3 class="txt-w3_agile" data-aos="fade-down">Get quality goods & services at VBizz. </h3>
				</div>
				<div class="col-lg-4 col-md-8 mt-lg-0 mt-5 banner-form" data-aos="fade-left">
					<h5><i class="fas mr-2 mb-5 fa-laptop"></i> Register Now</h5>
					<!-- <button type="button" class="btn w3ls-btn" data-toggle="modal" aria-pressed="false" data-target="#exampleModalCenter3">
						Buyer Sign-Up
					</button> -->
					<a href="{% url 'buyer_registration' %}">
						<button class="btn w3ls-btn">Buyer Registration</button>
					</a>
					<hr>
					<a href="{% url 'dashboard' %}">
						<button class="btn w3ls-btn">Buyer</button>
					</a>
					<hr>
					<a href="{% url 'vendor_registration' %}">
						<button class="btn w3ls-btn">Vendor Sign-Up</button>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
</header>
<!-- //header -->

<!-- why choose us -->
<section class="choose py-5" id="choose">
	<div class="container py-md-3">
		<h3 class="heading mb-5 text-center" data-aos="zoom-in"> Why Choose Us</h3>
		<div class="feature-grids row">
			<div class="col-lg-4 col-md-6" data-aos="fade-right">
				<div class="f1 icon1 p-4">
					<i class="fab fa-bandcamp"></i>
					<h3 class="my-3">Accessibility</h3>
					<p>Find the best rated vendors near you with quality goods and services. Get a feel of what you are purchasing to avoid getting scammed.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6" data-aos="fade-up">
				<div class="f1 icon2 p-4">
					<i class="fab fa-codepen"></i>
					<h3 class="my-3">Safe & Secure</h3>
					<p>At VBizz, payment method are highly secured with the latest technologies in the market. Make payments faster and simple.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4" data-aos="fade-left">
				<div class="f1 icon3 p-4">
					<i class="fab fa-bitcoin"></i>
					<h3 class="my-3">Fresh Interfaces</h3>
					<p>A user friendly interface to work with when you shop online at VBizz. Rate vendor's depending on the quality of services they provide.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //why choose us -->

<!-- process -->
<section class="process py-5" id="overview">
	<div class="container py-md-5">
		<div class="row process-grids">
			<div class="col-lg-6" data-aos="fade-right">
				<h4 class="mb-4">Vendor</h4>
				<p class="mb-3">sellers should be able to register with the marketplace (and they will be issued unique seller ID, passwords, and contact email address). After registering, sellers will be able to upload their available inventory. Each item will have a unique item number, a name, a brief description, a seller ID, a quantity, and a price. Seller must be capable of managing inventory (i.e., show current inventory, increase or decrease quantity, change price, update description of item, but not the seller ID).</p>
			</div>
			<div class="col-md-6" data-aos="fade-left">
				<img src="{% static 'images/Vendor.jpg' %}" alt="" class="img-fluid"/>
			</div>
			<div class="col-md-6 px-5 mt-5" data-aos="fade-right">
				<img src="{% static 'images/Buyer.jpg' %}" alt="" class="img-fluid"/>
			</div>
			<div class="col-lg-6 mt-5" data-aos="fade-left">
				<h4 class="mb-4">Buyer</h4>
				<p class="mb-3">Each buyer should be able to register an account with the marketplace and have a unique ID, name, and email address. Buyers should be able to browse the available inventory and search for a specific item by name or identifier. Buyer is permitted to acquire any item (if the quantity is available).</p>
				<button type="button" class="btn w3ls-btn" data-toggle="modal" aria-pressed="false" data-target="#exampleModalCenter3">
					Buyer Sign Up
				</button>
			</div>
			<div class="col-lg-6" data-aos="fade-right">
				<h4 class="mb-4">VBizz Admin</h4>
				<p class="mb-3">It is the responsibility of the marketplace system to ensure that the inventory is correctly maintained. Additionally, it assures that the item is dispatched upon sale. The Marketplace Manager should be able to inspect any seller, buyer, or item attribute at any moment.</p>
				<div class="log-in mt-md-3 mt-2">
					<a class="btn scroll" href="#contact">Select</a>
				</div>
			</div>
			<div class="col-md-6" data-aos="fade-left">
				<img src="{% static 'images/Admin.jpg' %}" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //process -->

<!--footer -->
<footer>
<section class="footer footer_w3layouts_section_1its py-5">
	<div class="container py-md-4">
	<div class="footer-grid_section text-center" data-aos="zoom-in">
				<div class="footer-title mb-3">
					<a href="#"><i class="fab fa-blackberry mr-2"></i> VBizz</a>
				</div>
				<div class="footer-text">
					<p>Find the best rated vendors near you with quality goods and services. Get a feel of what you are purchasing to avoid getting scammed.</p>
				</div>
				<ul class="social_section_1info">
					<li class="mb-2 facebook"><a href="#"><i class="fab mr-1 fa-facebook-f"></i>facebook</a></li>
					<li class="mb-2 twitter"><a href="#"><i class="fab mr-1 fa-twitter"></i>twitter</a></li>
					<li class="google"><a href="#"><i class="fab mr-1 fa-google-plus-g"></i>google</a></li>
					<li class="linkedin"><a href="#"><i class="fab mr-1 fa-linkedin-in"></i>linkedin</a></li>
				</ul>
			</div>
	</div>
</section>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="cpy-right text-center py-3">
	<p class="">© VBizz Landing page</p>
</div>
<!-- //copyright -->

<!--/Login-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="login px-4 mx-auto mw-100">
					<h5 class="text-center mb-4">Login Now</h5>
					<form action="#" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label class="mb-2">Username</label>
							{{ form.username }}
							<!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required=""> -->
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						<div class="form-group">
							<label class="mb-2">Passworddd</label>
							{{ form.password }}
							<!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required=""> -->
						</div>
						<div class="form-check mb-2">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Check me out</label>
						</div>
						<button type="submit" class="btn btn-primary submit mt-2">Sign In</button>
						<p class="text-center pb-4">
							<a href="#" data-toggle="modal2" data-target="#exampleModalCenter"> Don't have an account?</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//Login-->

<!--/Register as a Buyer-->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="login px-4 mx-auto mw-100">
					<h5 class="text-center mb-4">Buyer Registration</h5>
					<span class="mb-0 text-muted">
						{% if msg %}
							{{ msg | safe }}
						{% else %}
							Buyer Registration page
						{% endif %}
					</span>
					<form action="#" class="mt-4" method="POST">
						{% csrf_token %}
						<div class="form-group">
							{{form.username}}
						</div>
						<div class="form-group">
							{{form.password1}}
						</div>
						<div class="form-group">
							{{form.password2}}
						</div>
						<div class="form-group">
							{{form.email}}
						</div>
						<div class="form-check">
							{{form.is_buyer}}
							<label class="form-check-label" for="flexCheckChecked">Buyer</label>
						</div>
						<span class="text-error">{{ form.errors }}</span>
						<button type="submit" class="btn btn-primary submit mt-2">Register Account</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//Register as a Buyer-->

<!--/Register as a Vendor-->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="login px-4 mx-auto mw-100">
					<h5 class="text-center mb-4">Vendor Registration</h5>
					<span class="mb-0 text-muted">
						{% if msg %}
							{{ msg | safe }}
						{% else %}
							Vendor Registration page
						{% endif %}
					</span>
					<form action="#" class="mt-4" method="POST">
						{% csrf_token %}
						<div class="form-group">
							{{form.username}}
							{{form.name}}
						</div>
						<div class="form-group">
							{{form.password1}}
						</div>
						<div class="form-group">
							{{form.password2}}
						</div>
						<div class="form-group">
							{{form.email}}
						</div>
						<div class="form-check">
							{{form.is_vendor}}
							<label class="form-check-label" for="flexCheckChecked">Vendor</label>
						</div>
						<span class="text-error">{{ form.errors }}</span>
						<button type="submit" class="btn btn-primary submit mt-2">Register Account</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--//Register as a Vendor-->

    <!-- js -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- //js -->
	
	<!-- animation js -->
	<script src="{% static 'js/aos.js' %}"></script>
	<script>
		AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
	<!-- //animation js -->

	<!-- testimonials  Responsiveslides -->
    <script src="{%static 'js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use"$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //testimonials  Responsiveslides -->

	<!-- sticky nav bar-->
	<script>
		$(() => {

		  //On Scroll Functionality
		  $(window).scroll(() => {
			var windowTop = $(window).scrollTop();
			windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
			windowTop > 100 ? $('ul.nav-agile').css('top', '50px') : $('ul.nav-agile').css('top', '160px');
		  });

		  //Click Logo To Scroll To Top
		  $('#logo').on('click', () => {
			$('html,body').animate({
			  scrollTop: 0
			}, 500);
		  });

		 /*
		  //Smooth Scrolling Using Navigation Menu
		  $('a[href*="#"]').on('click', function (e) {
			$('html,body').animate({
			  scrollTop: $($(this).attr('href')).offset().top - 100
			}, 500);
			e.preventDefault();
		  });
		 */

		  //Toggle Menu
		  $('#menu-toggle').on('click', () => {
			$('#menu-toggle').toggleClass('closeMenu');
			$('ul').toggleClass('showMenu');

			$('li').on('click', () => {
			  $('ul').removeClass('showMenu');
			  $('#menu-toggle').removeClass('closeMenu');
			});
		  });

		});
	</script>
	<!-- //sticky nav bar -->

	<script src="{% static 'js/smoothscroll.js' %}"></script><!-- Smooth scrolling -->

    <!-- start-smoth-scrolling -->
    <script src="{% static 'js/move-top.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				  containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			 };
			*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //end-smoth-scrolling -->

</body>
</html>
